@import "colors";

.profile {
  &-tab-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: darken($color-secondary, 10%);
    margin: 0 -1rem;
    padding: 3rem 1.5rem;
  }

  &-tab-image {
    display: flex;
    align-items: center;
  }

  &-name {
    padding: 0 1.5rem;
  }

  &-tab-icon {
    color: darken(white, 55%);

    svg {
      width: 2.5rem;
      height: 2.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.contact {
  height: calc(100vh - 20rem);
  overflow-x: scroll;
  &::-webkit-scrollbar {width: 0 !important};

  &-container {
    width: 100%;
    height: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    //background-color: #0a060e;
    background-color: #22142f;
    color: $color-gray-1;
    margin-bottom: 1.5rem;

    display: flex;
  }

  &-image {
    position: relative;
  }

  &-content {
    &-container {
      width: 100%;
      height: 100%;
      padding: 0 1.5rem;
    }

    &-name {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-time {
      justify-self: end;
    }

    &-message {
      display: flex;
      justify-content: space-between;
    }

    &-status {
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.avatar-default {
  border-radius: 50%;
  display: block;
  object-fit: cover;

  &--contacts {
    width: 4rem;
    height: 4rem;
  }

  &--profile {
    width: 3rem;
    height: 3rem;
  }
}

p.heading-default {
  color: white;
  font-size: 1.5rem;
}

p.paragraph-default {
  color: $color-gray-1;
  font-size: 1.2rem;
}

.status-badge {
  position: absolute;
  top: 75%;
  left: 80%;

  width: 1rem;
  height: 1rem;
  border: 0.5px solid $color-gray-1;
  border-radius: 50%;

  &--online {
    background-color: green;
  }

  &--offline {
    background-color: red;
  }
}

input:focus {
  outline: none;
}

input.search-user {
  width: 100%;
  height: 4.5rem;
  background-color: lighten($color-secondary, 1%);

  border: 1px solid darken($color-secondary, 3%);
  border-radius: 1rem;
  margin-bottom: 2rem;

  color: White;
  font-size: 1.2rem;

  &:focus {
    box-shadow: none;
  }
}

.chats-p {
  text-transform: uppercase;
  padding: 1rem 0 2rem 1rem ;

}

.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
