@import "colors";
.contact{
  &-container {
    width: 100%;
    height: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    //background-color: #0a060e;
    background-color: #22142f;
    color: $color-gray-1;

    display: flex;
  }
  &-image {
    position: relative;
  }

  &-content {
    &-container {
      width: 100%;
      height: 100%;
      padding: 0 1.5rem;
    }
    &-name {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-time {
      justify-self: end;
    }

    &-message {
      display: flex;
      justify-content: space-between;
    }
    &-status {
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

}
.avatar-default {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
p.heading-default {
  color: white;
  font-size: 1.5rem;
}
p.paragraph-default {
  color: $color-gray-1;
  font-size: 1.2rem;
}

.status-badge {
  position: absolute;
  top: 75%;
  left: 80%;

  width: 1rem;
  height: 1rem;
  border: 0.5px solid $color-gray-1;
  border-radius: 50%;

  &--online {
    background-color: green;
  }
  &--offline {
    background-color: red;
  }
}
input:focus {
  outline: none;
}
