@import "colors";
@import 'mixins';

.side-nav {
  position: relative;

  background-color: $color-secondary;
  width: 30rem;
  height: 100vh;

  @include respond(laptop) {
    //display: none;
  }


}
.main-content {
  width: calc(100vw - 30rem);
  height: 100vh;
  background-color: lighten(gray, 75%);

  @include respond(laptop) {
    //width: 100vw;
  }
}
