<div class="chats-top-bar">
  <div class="chat-profile-container">
    <div class="chat-profile-image">
      <img
        src="https://static.remove.bg/remove-bg-web/c05ac62d076574fad1fbc81404cd6083e9a4152b/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
        alt="contact img"
        class="avatar-default avatar-default--contacts">
      <div class="status-badge status-badge--online">
      </div>
    </div>
    <div class="chat-profile-name">
      <p class="heading-default heading-default--black ">Mathew </p>
      <p class="paragraph-default limit-text">Down for a good time</p>
    </div>
  </div>

  <div class="chat-profile-setting dropup-center dropup">
    <svg class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-offset="0,14" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
      <rect width="256" height="256" fill="none"></rect>
      <circle cx="128" cy="128" r="12"></circle>
      <circle cx="192" cy="128" r="12"></circle>
      <circle cx="64" cy="128" r="12"></circle>
    </svg>

    <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
      <li><a class="dropdown-item profile-setting-items" href="#">
        Contact info
      </a></li>
      <li><a class="dropdown-item profile-setting-items" href="#">
        Close chat
      </a></li>
      <li><a class="dropdown-item profile-setting-items" href="#">
        Clear messages
      </a></li>
    </ul>
  </div>
</div>

<!--chat display section-->
<div class="chat-container">
  <p class="paragraph-default text-center">YESTERDAY</p>
 <div *ngFor="let _ of count">
   <div class="message">
     <div class="profile-tab-image contact-image message__icon message__icon--sender">
       <img
         src="https://static.remove.bg/remove-bg-web/c05ac62d076574fad1fbc81404cd6083e9a4152b/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
         alt="contact img"
         class="avatar-default avatar-default--profile">
     </div>
     <div class="message__content message__content--received">
       <p class="message__paragraph">lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi, asperiores eos error nostrum omnis quaerat reiciendis sed tenetur! Aperiam error eveniet exercitationem explicabo nostrum nulla odit quo quos, sed?</p>
       <p class="message__time message__time--sender">2:54 pm</p>
     </div>
   </div>

   <div class="message">
     <div class="profile-tab-image contact-image message__icon message__icon--receiver">
       <img
         src="https://static.remove.bg/remove-bg-web/c05ac62d076574fad1fbc81404cd6083e9a4152b/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
         alt="contact img"
         class="avatar-default avatar-default--profile">
     </div>
     <div class="message__content message__content--sent">
       <p class="message__paragraph">lorem Lorem ipsum</p>
       <p class="message__time message__time--receiver">2:54 pm</p>
     </div>
   </div>
 </div>
</div>

<!--Text area footer-->
<div class="chat__footer">
  <emoji-mart
    class="emoji-mart"
    *ngIf="isEmojiPickerVisible"
    (emojiSelect)="addEmoji($event)"
    style="position: absolute; bottom: 50px"

    title="Choose your emoji"></emoji-mart>
  <div class="chat__footer--emoji-btn" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 send-icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
    </svg>

  </div>

  <textarea class="chat__footer--text form-control send-message" placeholder="Type a message" type="text" name="textarea" [(ngModel)]="textArea"></textarea>

  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 send-icon">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
  </svg>

</div>
