@import "colors";
@import '~@ctrl/ngx-emoji-mart/picker';
.chats-top-bar{
  background-color: white;
  //border-bottom: 1px solid $color-gray-1;
  box-shadow: 0 8px 6px -8px $color-gray-1;
  width: 100%;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5rem ;

}
.chat-profile {
  &-container {
    display: flex;
    align-items: center;
  }
  &-image {
    position: relative;
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: block;
      object-fit: cover;
    }
  }
  &-name {
    padding: 0 3rem;
  }
  &-setting {
    svg {
      fill: $color-gray-1;
      width: 5rem;
      height: 5rem;

      cursor: pointer;
    }
  }
}

.profile-setting-items {
  font-size: 1.3rem;
  color: $color-gray-1;
  padding: 2rem 3rem;

  &:hover {
    color: #0c0711;
  }

}
ul.show {
  width: 15rem;
  height: 18rem;
  padding: 0;
  background-color: #0c0711;
}
.chat-container {
  height: calc(100vh - 14rem);
  overflow-x: scroll;
  &::-webkit-scrollbar {width: 0 !important};
  margin: 1rem 3rem .2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.message {
  display: flex;

  &__content {
    max-width: max-content;
    min-height: 5rem;
    margin-top: 2rem;


    &--received {
      background-color: #8646f9;
      border-radius: 15px 15px 15px 0;
      color: white;
    }

    &--sent {
      background-color: #ded0f8;
      border-radius: 15px 15px 0 15px;
    }

    p {
      &:first-child {
        padding: 1rem 2rem;
      }
      &:last-child{

      }
    }
  }

  &__icon {
    align-self: end;
    &--sender {
      padding-right: 1rem;
    }
    &--receiver {
      padding-left: 1rem;
      order: 2;
    }
  }

  &__time {
    padding: 0 2rem 1rem;
    margin-top: -1rem;
    color: #9b9999;
    &--sender {
      text-align: end;
    }

    &--receiver {
      text-align: start;
    }
  }
}

.chat__footer {
  display: flex;
  align-items: center;
  height: 5rem;
}

.chat__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}


textarea.send-message {
  padding: 1rem;
  width: 100%;
  height: 4.5rem;
  border: 1px solid darken($color-secondary, 3%);
  border-radius: 1rem;
  font-size: 1.2rem;
  margin: 0 1rem;

  &:focus {
    box-shadow: none;
  }
}

.send-icon {
  width: 2rem;
  height: 2rem;
}
