/* You can add global styles to this file, and also import other style files */
@import "colors";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines what 1 rem is 10px
  font-size: 62.5%;
  p {
    margin: 0;
    padding: 0;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: $color-primary;
}


textarea:focus, input:focus {
  outline: none;
}

p.heading-default {
  color: white;
  font-size: 1.5rem;
  &--black {
    color: black;
  }
}

p.paragraph-default {
  color: $color-gray-1;
  font-size: 1.2rem;
  &--black {
    color: black;
  }
}

.status-badge {
  position: absolute;
  top: 75%;
  left: 80%;

  width: 1rem;
  height: 1rem;
  border: 0.5px solid $color-gray-1;
  border-radius: 50%;

  &--online {
    background-color: green;
  }

  &--offline {
    background-color: red;
  }
}


.chats-p {
  text-transform: uppercase;
  padding: 1rem 0 2rem 1rem ;

}

.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.avatar-default {
  border-radius: 50%;
  display: block;
  object-fit: cover;

  &--contacts {
    width: 4rem;
    height: 4rem;
  }

  &--profile {
    width: 3rem;
    height: 3rem;
  }
}

